.image-output {
    height: fit-content;
    width: fit-content;
    border: #b10e2e 1px dashed;
    margin-top: 10px;
    padding: 3px;
}
.image-output img {
    height: 40px;
}
input[type=file] {
    height: 44px;
}
#sidebar-menu ul li a i {
    font-size: 1rem;
}
.noti-icon .badge {
    position: absolute;
    top: 6px;
    left: 6px;
}
.dropzone {
    border: 2px dashed #ced4da !important;
}